.body {
    background-color: #fafafa
}

.nav-container {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

@media (min-width:200px) and (max-width: 1200px){

    .nav-container {
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
    .canvas{
        margin-left: 10% !important;
    }
    .stories{
        margin-left: 16.5% !important;
    }
    
}

.nav-principal {
    background-color: white !important;
    height: 20%;
    border-top: 0.6px solid #dbdbdb;
    border-bottom: 1px solid ack;
}

.img-nav {
    border-radius: 100%;
    max-width: 12.5%!important;
    max-height: 10%!important;
}

/*Icones*/
.icons {
    padding: 4% !important;
    font-size: 90%;
}

.form-control {
    border-radius: 0.14rem !important;
    padding: 0% !important;
    background-color: #fafafa !important;
    text-align: center;
    font-size: 99% !important;
}

.img-perfil{
    border-radius: 50px;
    max-width: 100px;
    max-height: 150
    px;
}

.principal{
    margin-left: 20% !important;
    margin-right: 20% !important;
    
}

.username{
    font-size:15px; 
    font-weight:300;
}

.perfil-dados{
    font-size: 10px;
}

.stories{
    text-align: center !important;
    font-size: 10px !important;
    font-weight: 500 !important;
  

 }

.nav-feed{
    border-bottom: none !important;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom: 10px;
}

.card{
    border: 0px solid rgba(0, 0, 0, .125) !important;
    border-radius: .0rem !important;
}

