header {
    background-color: #4b6d90;
    padding: 3%;
    color: white;
    text-align: center;
}

.sec-conteudo {
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 10% !important;
    margin-top: 5% !important;
    justify-content: center !important;
}

.div-item {
    text-align: center;
}

footer {
    background-color: #4b6d90!important;
    padding: 5% !important;
    color: white !important;
  text-align: center !important;
}